nav a {
    text-align: center;
    color:#F9DC5C;
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
    
}

nav a:hover {
    background-color:#5DB7DE;
    color:#F9DC5C;
}


header {
    background-color:#2A324B;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin-right: -100px;
}

body {
    background-color: white;
    font-family: Tahoma, Helvetica, sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #2A324B;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


footer a {
    color:#F9DC5C;
    text-decoration: none;
}

footer p {
    color:#F9DC5C;
}

.parts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}

p {
    font-family: garamond, Helvetica, sans-serif; 
    font-size: 25px;
    margin-right: 50px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.parts-title {
    color: #F9DC5C;
    background-color: #087E8B;
    font-family: sans-serif, Arial, Helvetica;
    font-size:2em;
    margin-top: 10px;
    text-align: center;

}

#parts-msg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pic-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.pic-img:hover {
    box-shadow: 5px 5px 10px #6f7364;
}

.info-card{
    text-align: center;
}

#help-desc {
    line-height: 2;
}

.instal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 90px;

}

#paragraph {
    font-size: 20px;
}

#paragraph-two {
    font-size: 20px;
}

.faqs-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 300px 250px;

}

.faqs-title {
    color: #F9DC5C;
    background-color: #087E8B;
    font-family: sans-serif, Arial, Helvetica;
    font-size:2em;
    margin-top: 10px;
    text-align: center;
}


.instal-title {
    color: #F9DC5C;
    background-color: #087E8B;
    font-family: sans-serif, Arial, Helvetica;
    font-size:2em;
    margin-top: 10px;
    text-align: center;
}

.paragraph3-class {
    margin-bottom: -150px;
}

@media screen and (max-width: 900px) {
    .parts-grid, .instal-grid, .faqs-grid {
        display: block;
        height: auto;
        text-align: center;
        margin-right: -50%;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .info-card,.cpu-card,.ram-card,.motherboard-card,.case-card,.cooler-card,.storage-card,.power-card {
        width: 50%;
    }
    .pic-img {
        width: 50%;
        height: auto;
    }
    #cpu-desc,#ram-desc,#motherboard-desc,#case-desc,#cooler-desc,#storage-desc,#power-desc,#faqs-grid {
        margin-right: -100%;
    }
    #paragraph3-desc{
        margin-right: -80%;
        margin-bottom: 150px;
        text-align: center;
    }  
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}